@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the party</h1>

    <p>You are here because you received an invite. 
        Please let us know if you are comming to the party by registering.</p>

    <a asp-action="Register" class="btn btn-primary">Register here</a>
    <a asp-action="ListResponses" class="btn btn-primary">List of guests</a>
    <a asp-action="PeopleAttending" class="btn btn-primary">List of people attending</a>
    
</div>
