
@{
    ViewData["Title"] = "No registers yet";
}

<p>Nobody registered yet. Be the first one to register.</p>
<a asp-action="Register" class="btn btn-primary">Click here to register.</a>
<a asp-action="PeopleAttending" class="btn btn-primary">List of people attending</a>