@{
    ViewData["Title"] = "Register complete";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-success">Register complete</h5>
        <h6 class="card-subtitle mb-2 text-muted text-success">Thank you for registering</h6>
        
        <a asp-action="Index" class="card-link">Ok</a>
    </div>
</div>

