@model GuestResponse

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewBag.Title</h1>
<h2>Are you comming to the party?</h2>

<form asp-action="Register">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"
               placeholder="Enter your name" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control"
               placeholder="Enter your email" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control"
               placeholder="Enter your phone" />
    </div>
    <div class="mb-3">
        <label asp-for="WillAttend" class="form-check-label">Are you going to attend the party?</label>
        <select asp-for = "WillAttend" class="form-select">
            <option value="">Maybe</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


